    .sidebar {
      // width: 240px;
      // background: #000;
      padding: 20px;
      display: flex;
      flex-direction: column;
      // height: 90vh;
    }
    .live-radio{
      margin-bottom: 20px;
      button{
        color: #1DB954;
      }
    }

    .logo {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      font-size: 18px;
      font-weight: bold;
      // color: #1DB954;
      color: lightgray;
      margin-bottom: 30px;
      img{
        width: 30px;
      }
    }

    nav a {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      color: #b3b3b3;
      text-decoration: none;
      margin-bottom: 15px;
      font-weight: 500;
      transition: 0.3s;
    }

    nav a:hover, nav a.active {
      color: #fff;
      cursor: pointer;
    }

    @media (max-width: 768px) {
      .sidebar {
        // width: 100%;
        // height: auto;
        // flex-direction: row;
        // justify-content: space-around;
        // padding: 10px 0;
      }

      nav a {
        margin-bottom: 10px;
      }
    }
.radioBtn{
  display: flex;
  flex-direction: row;
  width: 200px;
}
.radio-state{
  // background-color: #b3b3b3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: 0.5px solid #b3b3b3;
  gap: 10px;
  transition: 2s;
  mat-icon{
    color: #1DB954;
  }
  p{
    font-size: 1rem;
    // color: #b3b3b3;
    color: #1DB954;
  }
  &:hover{
    cursor: pointer;
    p{
      color: #fff;
    }
  }
}


/* Equaliser Animation */
.equalizer {
  display: flex;
  align-items: flex-end;
  gap: 2px;
  height: 15px;
  width: 15px;
  transition: 2s;

  span {
    width: 3px;
    background: #1DB954;
    animation: equalize 0.8s infinite ease-in-out;

    &:nth-child(2) { animation-delay: 0.2s; }
    &:nth-child(3) { animation-delay: 0.4s; }
  }
}

@keyframes equalize {
  0%, 100% { height: 4px; }
  50% { height: 15px; }
}
