.library-container {
  height: 100%;
  padding: 24px;
  color: #fff;
  background: #121212;
  height: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.header {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

}
.counts{
  font-size: 13px;
  opacity: 0.7;
  font-weight: 200;
}
.actions {

  display: flex;
  gap: 16px;

}

.library-table {

  width: 100%;
  background: #181818;

  th {
    color: #aaa;
    font-weight: 500;
  }

  td {
    color: #eee;
  }

}

.artwork {

  width: 40px;
  height: 40px;
  border-radius: 6px;
}

.mat-mdc-row:hover {

  background: #282828;
  cursor: pointer;

}

button {

  // background: #1db954;
  // color: white;

}

mat-form-field {

  width: 260px;

}
