
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
// @use "tailwindcss";
@use '@angular/material' as mat;

$card-bg: #ffffff1a;
$card-dark-gb: #181818;
$spotify-green: #1db954;

// @tailwind base;
// @tailwind components;
// @tailwind utilities;


html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}
.dark-dialog-overlay{
  background: rgba(18, 18, 18, 0.7); // Dark Spotify-like base
  backdrop-filter: blur(15px) saturate(180%);
  // border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.dark-dialog-panel {
  background-color: #1a1a1a;
  color: #fff;
  border-radius: 8px;
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
/* You can add global styles to this file, and also import other style files */
/* Custom Menu Styling */
::ng-deep .dark-menu {
  background: #282828 !important;
  .mat-mdc-menu-item { color: white !important; }
  .delete-btn { color: #ff5252 !important; }
  width: 200px !important;
}

@include mat.sidenav-overrides((
  container-background-color: #121212,
  // container-background-color: red,
  // container-text-color: red,
  container-shape: 0px,
  // content-background-color: red,
  // container-width: 90%
));

.track-progress {
  @include mat.slider-overrides((
    active-track-color: #1db954,
    active-track-shape: 16px,
    handle-height: 10px,
    handle-width: 10px,
    handle-color: #1db954,
    // hover-handle-color: red,
    focus-handle-color: #1db954,
  ));
}
  @include mat.form-field-overrides((
   outlined-input-text-color: white,
  ));
  // background: #121212;
.form-field-round {
   @include mat.form-field-overrides((
    outlined-container-shape: 50px,
    outlined-focus-label-text-color: #ffffff,
    outlined-input-text-color: #ffffff,
    outlined-hover-label-text-color: #1db954,
    outlined-hover-outline-color: #1db954,
    container-height: 45px,
    container-vertical-padding: 10px
  ));
}
.general-form-field {
   @include mat.form-field-overrides((
    outlined-container-shape: 10px,
    outlined-focus-label-text-color: #ffffff,
    outlined-input-text-color: #ffffff,
    outlined-hover-label-text-color: #1db954,
    outlined-hover-outline-color: #1db954,
    container-height: 60px,
    // container-vertical-padding: 10px
  ));
}
.mat-select{
   @include mat.select-overrides((
    panel-background-color: #1db954,
    enabled-trigger-text-color: #ffffff,
    placeholder-text-color: #ffffff,
  ));
}
.mat-select-library{
  @include mat.select-overrides((
    // panel-background-color: transparent, //#181818,
    enabled-trigger-text-color: #ffffff,
    placeholder-text-color: #ffffff,
  ));
}
.track-table {
  @include mat.table-overrides((
    // header-headline-color: #ffffff,
    row-item-label-text-color: #ffffff,
    header-headline-color: gray,
    header-headline-weight: 600,
    row-item-label-text-size: 14px,
    row-item-container-height: 30px,
    row-item-outline-width: 0.2px
  ));
}
.library-menu{
   @include mat.menu-overrides((
    container-shape: 12px,
    divider-color: lightgrey,
    container-color: #121212,
    item-label-text-color: #ffffff,
  ));
}
@include mat.dialog-overrides((
  // container-color: orange,
  // subhead-color: red,
  container-max-width: 100%,
  container-min-width: 800px,
  container-shape: 20px
));
.genera-dialog {
   @include mat.dialog-overrides((
    // container-color: orange,
    // subhead-color: red,
    container-max-width: 100%,
    container-min-width: 800px,
    container-shape: 10px
  ));
}
