
<div class="dialog-container">
  <header >
    <h2 >{{action()}} Advert</h2>
  </header>

  <mat-dialog-content>

  <form [formGroup]="advertForm" class="advert-form general-form-field">
    <div class="form-field duo">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Business Name</mat-label>
        <input matInput formControlName="business_name" required>
      </mat-form-field>
    </div>

    <div class="date-fields duo">
      <mat-form-field appearance="outline">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="startPicker" (focus)="startPicker.open()" formControlName="start_date" required>
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="endPicker" (focus)="endPicker.open()" formControlName="end_date" required>
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="form-field duo">
      <mat-form-field appearance="outline">
        <mat-label>Type</mat-label>
        <mat-select formControlName="type" required>
          <mat-option *ngFor="let t of types" [value]="t">{{ t }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category" required>
          <mat-option *ngFor="let c of categories" [value]="c">{{ c }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  <div class="form-field duo">
  <mat-form-field appearance="outline" class="tags-field">
      <mat-label>Tags</mat-label>
      <div class="tags-input">
        <input #tagInput matInput placeholder="Add tag" (keyup.enter)="addTag(tagInput)">
        <button mat-icon-button matSuffix type="button" (click)="addTag(tagInput)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
       <mat-chip-grid #chipGrid aria-label="Tag selection">
          @for (tag of tags.controls; track $index; let i = $index) {
            <mat-chip-row (removed)="removeTag(i)">
              {{ tag.value }}
              <button matChipRemove [attr.aria-label]="'remove ' + tag.value">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          }
        </mat-chip-grid>

      <!-- <mat-chip-list>
        <mat-chip *ngFor="let tag of tags.controls; let i = index" (removed)="removeTag(i)">
          {{ tag.value }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list> -->
    </mat-form-field>
  </div>

  <div class="form-field full">
      <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" rows="3"></textarea>
    </mat-form-field>
  </div>

  <div class="form-field duo">
    <mat-form-field appearance="outline">
      <mat-label>Audio URL</mat-label>
      <input matInput formControlName="fileUrl">
    </mat-form-field>
  </div>

  <div class="form-field duo">
    <mat-form-field appearance="outline">
      <mat-label>Image URL</mat-label>
      <input matInput formControlName="imageUrl">
    </mat-form-field>
  </div>
    <div class="form-field duo">
    <mat-form-field appearance="outline">
      <mat-label>Video URL</mat-label>
      <input matInput formControlName="videoUrl">
    </mat-form-field>
  </div>
  </form>
  </mat-dialog-content>
  <div class="actions">
    @if(action() == "new"){
      <button (click)="submit()" [disabled]="advertForm.invalid" class="save-btn" mat-flat-button color="accent" type="submit" >Create</button>
    }@else{
      <button (click)="submit()" [disabled]="advertForm.invalid" class="save-btn" mat-flat-button color="accent" type="submit" >Update</button>
    }

      <button class="cancel-btn" mat-flat-button color="warn" type="button" (click)="close()">Cancel</button>
    </div>
</div>
